<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>

    <h1>More Details on <%=tea.name%></h1>
    <div class="container">
      <h4>Tea</h4>
      <form action="/addFav/<%=tea.id%>?_method=POST" method="POST">
        <input type="submit" value="Add Fav">
      </form><br/>
      Name: <%=tea.name%><br/>
      Type: <%=tea.type%><br/>
      Origin: <%=tea.origin%><br/>
      <img class="teaShow" src="<%=tea.img%>" alt="">
    </div>
    <div class="divider"></div>
    <div class="section">
      <a href="/tea/<%=tea.id%>/edit">Edit this Tea</a>
      <form action="/tea/<%=tea.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
      </form>
    </div>
    <div class="divider"></div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
