<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>

    <h1>Show Page</h1>
    <div class="container">
      <h4>Tea</h4>
      Name: <%=tea.name%><br/>
      Type: <%=tea.type%><br/>
      Origin: <%=tea.origin%><br/>
      <a href="/tea/<%=tea.id%>/edit">Edit this Tea</a>
      <form action="/tea/<%=tea.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
      </form>
    </div>

    <% include ../partials/footer.ejs %>
  </body>
</html>
