<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs'); -%>
  </head>
  <body>
    <%- include('../partials/header.ejs'); -%>

    <h4>Edit Your Tea</h4>

    <div class="container flow-text">
      <form action="/brews/tea/<%=tea[0].id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=tea[0].name%>">
        Type: <input type="text" name="type" value="<%=tea[0].type%>">
        Origin: <input type="text" name="origin" value="<%=tea[0].origin%>">
        <input type="hidden" name="img" value="<%=tea[0].img%>">
        Notes: <input type="text" name="notes" value="<%=tea[0].notes%>">
        <input type="submit" value="Edit">
      </form>
    </div>

    <%- include('../partials/footer.ejs'); -%>
  </body>
</html>
