<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/header.ejs %>
  <h1><%=user.name%>'s <%=tea[0].name%></h1>
  <div class="container">
    <h4>Tea</h4>
    Name: <%=tea[0].name%><br/>
    Type: <%=tea[0].type%><br/>
    Origin: <%=tea[0].origin%><br/>
    <img class="teaShow" src="https://res.cloudinary.com/hvqyfnzvb/image/upload/v1573100575/manki-kim-L82-kkEBOd0-unsplash_ud6sle.jpg" alt="">
  </div>

  <div class="divider"></div>
  <% include ../partials/footer.ejs %>
</body>
</html>
