<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/head.ejs'); -%>
</head>
<body>
  <%- include('../partials/header.ejs'); -%>
  <h4><%=user.name%>'s <%=tea[0].name%></h4>
  <div class="container flow-text">
    Name: <%=tea[0].name%><br/>
    Type: <%=tea[0].type%><br/>
    Origin: <%=tea[0].origin%><br/>
    <img class="teaShow individual" src="<%=tea[0].img%>" alt=""><br/>
    Notes: <%=tea[0].notes%>
  </div>
  <div class="section">
    <a href="/brews/tea/<%=tea[0].id%>/edit" class="btn green">Edit this Tea</a>

    <form action="/brews/tea/<%=tea[0].id%>?_method=DELETE" method="POST">
      <input type="submit" class="btn red" value="Delete">
    </form>
  </div>
  <div class="divider"></div>
  <%- include('../partials/footer.ejs'); -%>
</body>
</html>
